/app/.vs
/backup/imgui-master
/backup/tinyxml
/app/Debug
/app/tool/xml2json/Debug
/app/tool/xml2json/.vs
/app/tool/xml2json/xml2json.VC.db
/app/Release
/backup/SDF/Release
/backup/SDF/Debug
/backup/SDF/.vs/sdf/v15/Browse.VC.db
/backup/SDF/.vs/sdf/v15/Browse.VC.opendb
/backup/SDF/.vs/sdf/v15/ipch/AutoPCH/4b8b7f0d2e29778c/MAIN.ipch
/backup/SDF/.vs/sdf/v15/ipch/AutoPCH/6a55804d9c2f8b2c/MAIN.ipch
/backup/SDF/.vs/sdf/v15/.suo
/app/tool/xml2json/Release
/backup/MYGUI_3.2.0_win32/bin/release/Ogre.log
/backup/MYGUI_3.2.0_win32/bin/release/MyGUI.log
